<% include partials/cabecalho %>
<div id="formulario_clientes" class="container">
    <header class="page-header">
        <h1>Listagem de Eventos</h1>
    </header>
    <form id="formListarEventos" method="post" action="/listarEventos"></form>
        <div class="row">        
            <div id="espacoNomeCliente" class="form-group col-md-6">
                <label>Parte do nome do cliente</label>
                <input type="text" class="form-control" name="nome_cliente" id="nome_cliente_tela_evento" placeholder="Informe o nome do cliente">
            </div>
            <div class="form-group col-md-6">
                <label>Selecine a data do evento</label>
                <input type="date" class="form-control" name="data" id="dataEvento" placeholder="Informe a data do Evento" onchange="filtrarEventos()">
            </div>            
            <div class="form-group col-md-6">
                <button id="listarTodosEventos" class="btn btn-primary form-control">Listar Todos os Eventos</button>
            </div>
            <div class="form-group col-md-6">
                <button id="enviarCadastrosPendentes" class="btn btn-primary form-control">Listar Eventos que o Pendentes de Cadastro</button>
            </div>      
        </div>
    </form>
    <div id="listaEventos"></div>
    
    <% if(typeof evento != 'undefined' && evento != undefined){ %>
        <% evento.forEach(cliente=>{ %>
            <div style="margin-top: 30px; margin-left: auto; margin-right: auto; width: max-content;">
                Id do Evento: <%= evento.id_evento %><br>
                Nome do cliente: <%= evento.cliente.nome %><br>               
                Endereço: <%= evento.logradouro %>,&nbsp;&nbsp;
                <%= evento.numero %>,&nbsp;&nbsp;
                <% if (evento.complemento != null) { %>
                    <%= evento.complemento; %>,&nbsp;&nbsp;
                <% } %> 
                <% if (evento.observacao_endereco != null) { %>
                    <%= evento.observacao_endereco %>
                <% } %> 
                Cidade: <%= evento.cidade %><br>
                Telefone: <%= evento.telefone %><br>               
            </div>
            <hr>
        <% }); %>        
    <% } %>   
</div>
<div id="formulario_listagem_evento">
    <div id="listaClientes" ></div>
</div>
<!-- Janela de Edição de Eventos -->
    <div class="modal fade" id="janelaDeEdicaoEvento">              
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- cabecalho -->
                <form method="post" action="/editarEvento" name="form-editar-evento" id="form-editar-evento">
                    <div class="modal-header">
                        <h4 class="modal-title">Edição do Evento</h4>
                        <button type="button" class="close" data-dismiss="modal" id="fecharModalEditar">
                            <span>&times;</span>
                        </button>
                    </div>
            
                    <!-- corpo -->
                    <div class="modal-body" id="corpoModal">
                        <!--
                        <button type="button" id="abrirModalInsercaoClienteNoEvento" 
                            class="btn btn-primary">
                            Trocar cliente
                        </button>                     
                    
                        <div class="form-group">
                            <label for="nome_cliente">Nome do Cliente</label>
                            <input type="text" class="form-control" readonly name="nome_cliente" id="espacoNomeCliente" required>
                        </div>
                        <div id="listaClientes"></div>
                    -->
                        <div class="row">
                            <div class="form-group col-md-12" style="display: none;">                                
                                <input type="text" class="form-control" name="id_evento_edicao" id="id_evento_edicao">
                            </div>
                            <div class="col-md-12 row">
                                <div class="col-md-4 form-group">
                                    <label for="data">Data</label>
                                    <input type="date" class="form-control" name="data_edicao" id="data_edicao">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="hora">Hora</label>
                                    <input type="time" class="form-control" name="hora_edicao" id="hora_edicao">
                                </div>                                
                            </div>
                            <hr>                        
                            <div class="form-group col-md-8">
                                <label for="endereco">Endereço</label>
                                <input type="text" class="form-control" placeholder="Rua, Avenida, Praça" name="logradouro_edicao" id="logradouro_edicao">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="endereco">Número</label>
                                <input type="numero" class="form-control" placeholder="Número" name="numero_edicao" id="numero_edicao">
                            </div>                                
                            <div class="form-group col-md-6">
                                <label for="complemento">Complemento</label>
                                <input type="text" class="form-control" placeholder="exe.: ap. 5" name="complemento_edicao" id="complemento_edicao">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="bairro">Bairro</label>
                                <input type="text" class="form-control" placeholder="Bairro" name="bairro_edicao" id="bairro_edicao">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cidade">Cidade</label>
                                <input type="text" class="form-control" placeholder="Cidade" name="cidade_edicao" id="cidade_edicao">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="valor_total">Valor Total</label>
                                <input type="number" class="form-control" name="valor_total_edicao" id="valor_total_edicao">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="valor_desconto">Valor do Desconto</label>
                                <input type="number" class="form-control" name="valor_desconto_edicao" id="valor_desconto_edicao">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="valor_sinal">Valor do Sinal</label>
                                <input type="number" class="form-control" name="valor_sinal_edicao" id="valor_sinal_edicao">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="receber_no_ato">Receber no Ato</label>
                                <input type="number" class="form-control" readonly name="receber_no_ato_edicao" id="receber_no_ato_edicao">
                            </div> 
                            <div class="form-group col-md-12">
                                <label for="observacao">Observação sobre o evento</label>
                                <input type="text" class="form-control" name="observacao_edicao" id="observacao_edicao">
                            </div>
                            <div class="form-group col-md-3">
                                <button type="button" id="exibirListaBrinquedos" class="btn btn-primary form-control">Escolher Brinquedos</button>
                            </div>
                            
                            <div id="listaBrinquedos" class="col-md-12 naoMostrar" style="width: max-content;">
                                <div class="row">
                                    <% if(typeof brinquedos != 'undefined' && brinquedos != undefined){ %>       
                                        <% brinquedos.forEach(brinquedo=>{ %>
                                            <div class="col-md-3 form-group" style="margin-top: 30px; margin-left: 15px; height: max-content;">
                                                Selecionar: <input type="checkbox" class="form-control-checkbox checkbox-lista-brinquedos" name="brinquedo<%=brinquedo.id_brinquedo%>" id="<%=brinquedo.nome_brinquedo%>"> 
                                                <div style="width: 200px;">
                                                    <img src= "imagens/brinquedos/<%= brinquedo.nome_brinquedo_para_foto%>/<%=brinquedo.foto_brinquedo %>" width="200px" >
                                                </div>
                                                Id do Brinquedo: <%= brinquedo.id_brinquedo %><br>
                                                Nome: <%= brinquedo.nome_brinquedo %><br>
                                                Características: <%= brinquedo.caracteristicas %><br>     
                                            </div>                                  
                                        <% }); %>                             
                                    <% } %> 
                                </div>     
                            </div>                                                        
                        </div>
                    </div>
            
                    <!-- rodape -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" onclick="enviarEmailConfirmacao()">
                            Enviar Confirmação
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" id="btnEnviarEdicaoEvento" class="btn btn-primary">
                            Concluir Edição
                        </button>
                    </div>
                </form>
            </div>
        </div>     
    </div>

    <!--JANELA DE EXCLUSÃO DE EVENTOS-->
    
    <div class="modal fade" id="janelaDeRemocaoEvento">              
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- cabecalho -->
                <form method="post" action="/removerEvento" name="form-excluir-evento" id="form-excluir-evento">
                    <div class="modal-header">
                        <h4 class="modal-title">Tem certeza que quer excluir esse evento?</h4>
                        <button type="button" class="close" data-dismiss="modal" id="fecharModalExcluir">
                            <span>&times;</span>
                        </button>
                    </div>
            
                        <!-- rodape -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" id="btnExcluirEvento" class="btn btn-danger">
                            Excluir
                        </button>
                    </div>
                </form>
            </div>                
        </div>     
    </div>

    <!-- respostas de queryes no bd -->
    <% if (typeof mensagem != 'undefined'){ %>
        <% console.log(mensagem); %>
        <% if (mensagem == true){ %>                        
            <input type="text" id="resposta_insercao_brinquedo" style="display: none;" value="Eventos editados">
        <% } else {%>  
            <input type="text" id="resposta_insercao_brinquedo" style="display: none;" value="Houve erro no sistema">
        <% } %>
    <% } %>
    <div id="snackbar"></div>

<% include partials/rodape %>