<% include partials/cabecalho %>

<div id="formulario_clientes" class="container">
    <header class="page-header">
        <h1>Listagem de Clientes</h1>
    </header>
    <form id="formListarClientes" method="post" action="/listarCliente">
        <div class="row">
            <div class="col-md-6 form-group">
                <label>Parte do nome do cliente</label>
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Informe o nome do cliente">
            </div>
            <div class="col-md-6 form-group">
                <label>Data de um evento do cliente</label>
                <input type="date" class="form-control" name="data" id="data" placeholder="Informe a data da festa" onchange="filtrarClientes()">
            </div>
            <div class="col-md-6 form-group">
                <label>Parte do endereço do cliente</label>
                <input type="text" class="form-control" name="logradouro" id="logradouro" placeholder="Informe parte do endereço">
            </div>
            <div class="col-md-6 form-group">
                <label>Parte do nome da cidade</label>
                <input type="text" class="form-control" name="cidade" id="cidade" placeholder="Informe parte da cidade">
            </div>
            <div class="col-md-6 form-group">
                <button type="button" class="btn btn-primary form-control" id="listar-todos-clientes">Listar Todos os Clientes</button>
            </div>        
        </div>
    </form>
    <div id="listaClientes"></div>
    
    <% if(clientes != undefined){ %>       
        
        <% clientes.forEach(cliente=>{ %>
            <div style="margin-top: 30px; margin-left: auto; margin-right: auto; width: max-content;">
                Id de Cliente: <%= cliente.id_cliente %><br>
                Nome: <%= cliente.nome %><br>
                CPF: <%= cliente.cpf %><br>
                Endereço: <%= cliente.logradouro %>,&nbsp;&nbsp;
                <%= cliente.numero %>,&nbsp;&nbsp;
                <% if (cliente.complemento != null) { %>
                    <%= cliente.complemento; %>,&nbsp;&nbsp;
                <% } %> 
                <% if (cliente.observacao_endereco != null) { %>
                    <%= cliente.observacao_endereco %>
                <% } %> 
                Cidade: <%= cliente.cidade %><br>
                Telefone: <%= cliente.telefone %><br>
                <% if (cliente.telefone_recado != null) { %>
                    Telefone para recados: <%= cliente.telefone_recado %><br>
                <% } %> 
                Email: <%= cliente.email %><br>
                <% if (cliente.observacao_cliente != null){ %>
                    Observação: <%= cliente.observacao_cliente %><br>
                <% } %> 
            </div>
            <hr>
        <% }); %>
        
    <% } %>
   
    <!-- Janela de Edição do Cliente -->
    <div class="modal fade" id="janelaDeEdicaoCliente">
              
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- cabecalho -->
                <form method="post" action="/editarCliente" name="form-cliente" id="form-cliente">
                    <div class="modal-header">
                        <h4 class="modal-title" id="tituloEdicaoCliente">Edição de Clientes</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"  id="fecharModal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>            
                    <!-- corpo -->
                    <div class="modal-body" id="corpoModal">
            
                        <div class="row">
                            <div class="form-group col-md-12" style="display: none;">                                
                                <input type="text" class="form-control" name="id_cliente" id="id_cliente">
                            </div>       
                                                
                            <div class="form-group col-md-12">
                                <label for="nome" name="labelDoNome" id="labelDoNome">Nome</label>
                                <input type="text" class="form-control" name="nome_edicao" id="nome_edicao">
                            </div>
                    
                            <div class="form-group col-md-6">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control" name="email" id="email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cpf">CPF</label>
                                <input type="text" class="form-control" name="cpf" id="cpf">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="telefone">Telefone</label>
                                <input type="text" class="form-control" name="telefone" id="telefone">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="telefone">Telefone para recado</label>
                                <input type="text" class="form-control" name="telefone_recado" id="telefone_recado">
                            </div>                               
                                                            
                                <div class="form-group col-md-8">
                                    <label for="endereco">Endereço</label>
                                    <input type="text" class="form-control" placeholder="Rua, Avenida, Praça" name="logradouro_edicao" id="logradouro_edicao">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="endereco">Número</label>
                                    <input type="numero" class="form-control" placeholder="Número" name="numero" id="numero">
                                </div>                                
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Complemento" name="complemento" id="complemento">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Cidade" name="cidade" id="cidade">
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" placeholder="Observacao Endereco" name="observacao_endereco" id="observacao_endereco"> 
                                </div>                                                               
                            
                            <div class="form-group col-md-12">
                                <label for="observacao">Observação sobre o cliente</label>
                                <input type="text" class="form-control" name="observacao_cliente" id="observacao_cliente">
                            </div>                   
                                    
                        </div>
                    </div>
            
                    <!-- rodape -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" id="btnEnviarEdicaoCliente" class="btn btn-primary">
                            Concluir Edição
                        </button>
                    </div>
                </form>
            </div>
        </div>     
    </div>
    <!-- Janela de remoção de cliente -->
    <div class="modal fade" id="janelaDeRemocaoCliente">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- cabecalho -->
                <form method="post" action="/excluirCliente" name="form-excluir-cliente" id="form-excluir-cliente">
                    <div class="modal-header">                        
                        <h4 class="modal-title">Você tem certeza que deseja remover esse cliente?</h4>
                        <button type="button" class="close" data-dismiss="modal" id="fecharModalExcluir">
                            <span>&times;</span>
                        </button>
                    </div>
                    <!-- corpo -->
                    <div class="modal-body" id="corpoModal">
                        <h4>Eventos apagados com esse cliente:</h4>
                        <input type="text" style="display: none;" id="id_cliente_excluir" name="id_cliente_excluir">
                        <div class="row" id="listaEventos">
                            
                        </div>              
                    </div>            
                    <!-- rodape -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" id="btnExcluirCliente" class="btn btn-danger">
                            Excluir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>   
</div> 

<% include partials/rodape %>  