<% include partials/cabecalho %>  

        <h1>
            Lista de Clientes:
        </h1>

        <% clientes.forEach(cliente=>{ %>
            <div style="margin-top: 30px;">
                <%= cliente.id_cliente %><br>
                <%= cliente.nome %><br>
                <%= cliente.cpf %><br>
                <%= cliente.logradouro %>,&nbsp;&nbsp;
                <%= cliente.numero %>,&nbsp;&nbsp;
                <%= cliente.complemento %>,&nbsp;&nbsp;
                <%= cliente.observacao_endereco %>
                <%= cliente.cidade %><br>
                <%= cliente.telefone %><br>
                <%= cliente.telefone_recado %><br>
                <%= cliente.email %><br>
                <%= cliente.observacao_cliente %><br>
            <% }); %>
            <hr>
        </div>
        
<% include partials/rodape %>  