<% include partials/cabecalho %>
<!-- MODAIS DA PÁGINA -->
<!-- Janela de Edição do Cliente -->
<div class="modal fade modal-primary" tabindex="-1" role="dialog" id="janelaDeEdicaoBrinquedo" aria-labelledby="tituloEdicaoBrinquedo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/editarBrinquedo" name="form-editar-brinquedo" enctype="multipart/form-data" id="form-brinquedo">
                <!-- cabecalho -->
                <div class="modal-header">
                    <h4 class="modal-title" id="tituloEdicaoBrinquedo">Edição de Brinquedo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"  id="fecharModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- corpo -->
                <div class="modal-body" id="corpoModal" style="margin-left: 15px;">            
                    <div class="row">
                        <div class="form-group col-md-12" style="display: none;">                                
                            <input type="text" class="form-control" name="id_brinquedo" id="id_brinquedo">
                        </div>                                              
                        <div class="form-group">
                            <label for="nome">Nome do brinquedo</label>
                            <input type="text" class="form-control" name="nome_edicao" id="nome_edicao">
                        </div>
                        <div class="form-group">
                            <label for="carac">Características</label>
                            <input type="text" class="form-control" name="caracteristicas_edicao" id="caracteristicas_edicao">
                        </div>
                        <div class="form-group">
                            <label for="valor">Valor do Aluguel</label>
                            <input type="number" class="form-control" name="valor_edicao" id="valor_edicao">
                        </div>
                        <div class="form-group">
                            <label for="quantidade">Quantidade no Estorque</label>
                            <input type="number" class="form-control" name="quantidade_edicao" id="quantidade_edicao">
                        </div>
                        <div class="form-group">
                            <label for="obs">Observação</label>
                            <input type="text" class="form-control" name="observacao_edicao" id="observacao_edicao">
                        </div>
                        <div class="form-group">
                            <label for="foto">Foto</label>
                            <input type="file" class="form-control-file" name="foto" id="foto">
                        </div>                                                         
                    </div>
                    <!-- rodape -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" id="btnEnviarEdicaoBrinquedo" class="btn btn-primary">
                            Concluir Edição
                        </button>
                    </div>                
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Janela de remoção de brinquedo -->
<div class="modal fade" id="janelaDeRemocaoBrinquedo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- cabecalho -->
            <form method="post" action="/excluirBrinquedo" name="form-excluir-brinquedo" id="form-excluir-brinquedo">
                <div class="modal-header">
                    <h4 class="modal-title" id="tituloEdicaoBrinquedo">Edição de Brinquedo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"  id="fecharModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- corpo -->
                <div class="modal-body" id="corpoModal">
                    <h4>Eventos apagados com esse brinquedo:</h4>
                    <input type="text" style="display: none;" id="id_brinquedo_excluir" name="id_brinquedo_excluir">
                    <div class="row" id="listaEventos">                                
                    </div>              
                </div>            
                <!-- rodape -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" id="btnExcluirBrinquedo" class="btn btn-danger">
                        Excluir
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>     
<!--FIM DOS MODAIS-->
<!--PÁGINA NORMAL-->
<div class="container">
    <header class="page-header">
        <h1>Listagem de Brinquedos</h1>
    </header>
    <div class="centralizar container" style="max-width: 600px;">
        <form id="formListarBrinquedos" method="post" action="/listarBrinquedo"></form>
            <div class="row">        
                <div class="form-group col-md-12">
                    <label>Parte do nome do brinquedo</label>
                    <input type="text" class="form-control" name="nome_brinquedo" id="nome_brinquedo" placeholder="Nome do Brinquedo">
                </div>
                
                <div class="form-group col-md-12">
                    <a class="btn btn-primary form-control" href="/listarTodosBrinquedos">Listar Todos os Brinquedos</a>
                </div>        
            </div>
        </form>
    </div>
    
    <div id="listaBrinquedos" class="row">
        
        <% if(brinquedos){ %>
            
            <% if(brinquedos.status == false){%>
                <script>
                    alert("Ocorreu um erro na edição");                    
                </script>
                <%console.log(brinquedos.resultado.sqlMessage);%>
                <%console.log(brinquedos.resultado.sql);%>        
            <%}else if(brinquedos.status){%>
                
                <script>
                    alert("Edição Ok!!");
                </script>
            <%}else{%>           
            
                <% brinquedos.forEach(brinquedo=>{ %>
                    
                    <div class="col-md-4" style="margin-top: 30px; margin-left: auto; margin-right: auto; height: max-content;">
                        <div style="width: 200px;">
                            <img src= <%= brinquedo.foto_brinquedo %> width="200px" >
                        </div>
                        Id do Brinquedo: <%= brinquedo.id_brinquedo %><br>
                        Nome: <%= brinquedo.nome_brinquedo %><br>
                        Características: <%= brinquedo.caracteristicas %><br>                
                        Valor da locação: <%= brinquedo.valor_brinquedo %><br>
                        Quantidade em Estoque: <%= brinquedo.quantidade %><br>
                        <% if (brinquedo.observacao != null){ %>
                            Observação: <%= brinquedo.observacao %><br>
                        <% } %>
                        <div>
                            <button class="btn btn-primary" id="btnEditarBrinquedo"  data-toggle="modal" 
                            data-target="#janelaDeEdicaoBrinquedo" 
                            onclick="preencherModalEdicao('<%= brinquedo.id_brinquedo %>','<%= brinquedo.nome_brinquedo %>', '<%= brinquedo.caracteristicas %>','<%= brinquedo.valor_brinquedo %>','<%= brinquedo.quantidade %>','<%= brinquedo.observacao %>')"
                            value="<%= brinquedo.id_brinquedo %>">Editar</button>&nbsp;&nbsp;
                            <button class="btn btn-danger" id="btn_excluir_brinquedo" data-toggle="modal"
                            data-target="#janelaDeRemocaoBrinquedo" onclick="listarEventosDoBrinquedoExcluido('<%= brinquedo.id_brinquedo %>')">Excluir</button>
                        </div> 
                    </div>
                
                <% }); %>
            <%}%>
            
        <% } %> 
    </div>
    
    
</div>

<% include partials/rodape %>  